#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    rgb_bri_encoder: rgb_bri_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };
    rgb_hue_encoder: rgb_hue_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_HUI>, <&rgb_ug RGB_HUD>;
    };
    rgb_sat_encoder: rgb_sat_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_SAI>, <&rgb_ug RGB_SAD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    
    keymap0: keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "scroll";
            bindings = <
                &mkp LCLK              &mmv MOVE_UP
                &kp C_AC_HOME  &to 1   &mmv MOVE_DOWN  
                &kp C_AC_BACK  &trans  &mmv MOVE_LEFT
                &kp C_AC_STOP          &mmv MOVE_RIGHT        
            >; 
            sensor-bindings = <&scroll_encoder>;
        };

        mediaone_layer {
            display-name = "up&down_tiktok";       
            bindings = <
                &mkp LCLK              &mmv MOVE_UP
                &to 0          &to 2   &mmv MOVE_DOWN  
                &kp UP_ARROW   &trans  &mmv MOVE_LEFT
                &kp DOWN_ARROW         &mmv MOVE_RIGHT      
            >;
            sensor-bindings = <&inc_dec_kp C_NEXT C_PREV>; 
        };
        mediatwo_layer {
            display-name = "up&down_redbook";       
            bindings = <
                &mkp LCLK           &mmv MOVE_UP
                &to 0       &to 3   &mmv MOVE_DOWN  
                &kp C_NEXT  &trans  &mmv MOVE_LEFT
                &kp C_PREV          &mmv MOVE_RIGHT      
            >;
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        tri_layer {
            display-name = "volume";
            bindings = <
                &kp C_MUTE             &trans
                &to 0          &to 4   &trans  
                &kp C_AC_BACK  &trans  &trans
                &kp C_AC_FORWARD       &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extraone_layer {
            display-name = "left&right";
            bindings = <
                &mkp LCLK         &mmv MOVE_UP
                &to 0     &to 5   &mmv MOVE_DOWN 
                &trans    &trans  &mmv MOVE_LEFT
                &trans            &mmv MOVE_RIGHT 
            >;
            sensor-bindings = <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        extratwo_layer {
            display-name = "rgbmode";
            bindings = <
                &rgb_ug RGB_TOG          &rgb_ug RGB_EFR
                &to 0            &to 6   &trans
                &rgb_ug RGB_BRI  &trans  &rgb_ug RGB_SAI
                &rgb_ug RGB_BRD          &rgb_ug RGB_SAD  
            >;
            sensor-bindings = <&rgb_hue_encoder>;
        };

        extrathree_layer {
            display-name = "mouse";
            bindings = <
                &mkp LCLK         &mmv MOVE_UP
                &to 0     &to 6 7  &mmv MOVE_DOWN 
                &trans    &trans  &mmv MOVE_LEFT
                &trans            &mmv MOVE_RIGHT 
            >;
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        extrafour_layer {
            display-name = "bluetooth";
            bindings = <
                &trans          &bt BT_NXT
                &to 0   &to 8   &bt BT_PRV 
                &trans  &trans  &bt BT_CLR
                &trans          &trans
            >;
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        extrafive_layer {
            display-name = "extra";
            bindings = <
                &trans          &trans
                &to 0   &to 0   &trans 
                &trans  &trans  &trans
                &trans          &bootloader
            >;
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };
    };
};
