#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>



/ {
    rgb_bri_encoder: rgb_bri_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };
    rgb_hue_encoder: rgb_hue_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_HUI>, <&rgb_ug RGB_HUD>;
    };
    rgb_sat_encoder: rgb_sat_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_SAI>, <&rgb_ug RGB_SAD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    tiktok_encoder: tiktok_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&kp C_NEXT>, <&kp C_PREV>;
    };

    redbook_encoder: redbook_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
         bindings = <&kp UP_ARROW>, <&kp DOWN_ARROW>;
    };
    
    keymap0: keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";
            bindings = <
                &mkp LCLK              &kp LEFT_ARROW
                &kp C_AC_HOME  &to 1   &kp RIGHT_ARROW 
                &kp C_AC_BACK  &to 7   &kp LEFT_ARROW
                &kp C_AC_FORWARD       &kp RIGHT_ARROW         
            >; 
            sensor-bindings = <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        viedo1_layer {
            display-name = "tiktok";       
            bindings = <
                &mkp LCLK              &mmv MOVE_UP
                &to 0          &to 2   &mmv MOVE_DOWN   
                &kp C_AC_BACK  &to 0   &mmv MOVE_LEFT
                &kp C_AC_HOME          &mmv MOVE_RIGHT      
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        tri_layer {
            display-name = "fn";
            bindings = <
                &mkp LCLK              &mmv MOVE_UP
                &to 0          &to 3   &mmv MOVE_DOWN  
                &kp C_AC_BACK  &to 1   &mmv MOVE_LEFT
                &kp C_AC_HOME          &mmv MOVE_RIGHT      
                
            >;
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        video2_layer {
            display-name = "left&right";       
            bindings = <
                &kp C_MUTE         &msc SCRL_UP
                &to 0      &to 4   &msc SCRL_DOWN 
                &trans     &to 2   &kp C_VOL_UP
                &trans             &kp C_VOL_DN     
            >;
            sensor-bindings = <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        extraone_layer {
            display-name = "up&down";
            bindings = <
                &mkp LCLK         &trans
                &to 0     &to 5   &trans
                &trans    &to 3   &trans
                &trans            &trans
            >;
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        extratwo_layer {
            display-name = "mouse";
            bindings = <
                &mkp LCLK         &mmv MOVE_UP
                &to 0     &to 6   &mmv MOVE_DOWN 
                &trans    &to 4   &mmv MOVE_LEFT
                &trans            &mmv MOVE_RIGHT 
            >;
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        extrathree_layer {
            display-name = "rgbmode";
            bindings = <
                &rgb_ug RGB_TOG          &rgb_ug RGB_EFR
                &to 0            &to 7   &trans
                &rgb_ug RGB_BRI  &to 5   &rgb_ug RGB_SAI
                &rgb_ug RGB_BRD          &rgb_ug RGB_SAD  
            >;
            sensor-bindings = <&rgb_hue_encoder>;
        };

        extrafour_layer {
            display-name = "bluetooth";
            bindings = <
                &trans          &bt BT_NXT
                &to 0   &to 8   &bt BT_PRV 
                &trans  &to 6   &bt BT_CLR
                &trans          &trans
            >;
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        extrafive_layer {
            display-name = "extraone";
            bindings = <
                &trans          &trans
                &to 0   &to 9   &trans 
                &trans  &to 7   &trans
                &trans          &trans
            >;
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        extrasix_layer {
            display-name = "extratwo";
            bindings = <
                &trans          &trans
                &to 0   &to 0   &trans 
                &trans  &to 8   &trans
                &trans          &bootloader
            >;
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };
    };
};
